@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

main {
  min-height: 100vh;
  background-color: #a4b9d3;
  padding-top: 18rem;
  font-family: "Ubuntu", sans-serif;
}

/*******************
  header and search
*******************/

header {
  background-color: hsl(221, 37%, 38%);
  color: hsl(20, 40%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vh;
  font-size: 2rem;
  padding: 1rem 0;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

header h1 {
  padding: 1rem;
  text-shadow: 4px 2px 2px #ff512f;
  text-align: center;
}

header form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  text-align: center;
}

.form-button {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 1rem;
}

.search {
  font-size: 1rem;
  line-height: 2;
  padding: 0.25rem 1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  max-width: 100%;
  border-radius: 0.5rem;
}

svg {
  width: 30rem;
  max-width: 70%;
}

/*******************
  content area
*******************/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.instructions,
.searchHistory,
h2,
h3 {
  margin-top: 2rem;
  font-weight: 400;
  text-align: center;
  color: #142d33;
}

.instructions p {
  font-size: 1.3rem;
}

.backTohome {
  text-align: center;
  font-size: 1.5rem;
}

.historyKey {
  font-size: 1.5rem;
  text-decoration: underline;
  text-align: center;
  color: #142d33;
}

.searchKey,
.suggestKey {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: #ffffff;
}

.ol,
.history {
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  margin-bottom: 1rem;
  height: 100%;
  padding: 0;
  color: #49575c;
  cursor: pointer;
  animation: 1s ease slideUp;
  transition: 0.8s;
}

@keyframes slideUp {
  from {
    transform: translateX(200rem);
  }

  to {
    transform: translateX(0rem);
  }
}

/* card hover */
.card:hover {
  color: #e65268;
}

/* card image hover */
.card img {
  transition: 0.5s;
}
.card:hover img {
  opacity: 0.8;
}

.card-body {
  padding-bottom: 0;
  flex: 1 1 19rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************************
  Media Queries
************************/
@media all and (min-width: 37.5rem) {
  header {
    font-size: 1.2rem;
  }
}

@media all and (min-width: 60rem) {
  main {
    padding-top: 20rem;
  }
  header {
    font-size: 2rem;
  }
}
